@font-face {
    font-family: 'Raleway';
    src: url('../src/raleway/Raleway-Regular.ttf') format('truetype'),
         url('../src/raleway/Raleway-Light.ttf') format('woff'),
         url('../src/raleway/Raleway-Bold.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway, sans-serif;
}
body {
    min-height: 100vh;
    max-width: 100%;
}
.realestatelogo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.hero {
    margin: 0 25px;
    min-height: 268px;
    min-width: 300px;
    margin-top: 20px;
    font-weight:  700;
    color: #1D7D81;
    display: flex;
    flex-direction: column;
}
form {
    min-width: 250px;
    min-height: 307px;
}
form fieldset {
    border: none;
}
p {
    margin: 30px 0;
    position: relative;
}
label {
    display: block;
}
input[type="email"], input[type="password"] {
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 10px 16px;
    background-color:  #F3F3F3;
    min-width: 100%;
    max-width: fit-content;
    height: 50px;
    margin-top: 20px;
}
input[type="email"]::placeholder {
    color: #7A7A7A;
}
.form-check-input:checked {
    background-color: #1D7D81;
    outline: none;
    border: none;
    box-shadow: none;
}
.form-switch .form-check-input {
    box-shadow: none;
    border-color: gray;
    padding: 9px;
}
.eye {
    position: absolute;
    right: 20px;
    top: 50px;
}
.password-details {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}
.password-details a, .no-account a {
    text-decoration: none;
    color: #1D7D81;
}
.btn {
    min-width: 100%;
    background-color: #1D7D81;
    color: #fff;
    height: 50px;
    border-radius: 20px;
    cursor: pointer;
}
.login-with {
    position: relative;
    border: 1px solid gray;
    margin: 30px 0;
}
.login-with span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 15px;
}
.social-media-buttons {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}
.social-media-buttons button {
    padding: 15px;
    border: none;
    border-radius: 10px;
    width: 30%;
    cursor: pointer;
}
.image {
    min-height: 100%;
    min-width: 50%;
    border-radius: 20px;
    display: none;
}
/* @media screen and (max-width: 400px) {
    
} */
/* @media screen and (min-width: 768px) {
    
} */